<h2>Login</h2>

<%= form_with url: login_path do |f| %>
<div>
    <%= label_tag :email%>
    <%= text_field_tag :email%>
</div>

<div>
    <%= label_tag :password%>
    <%= text_field_tag :password%>
</div>

<%= submit_tag "Login" %>

<% end %>
